.root {
  @apply grid gap-2 grid-cols-1 lg:grid-cols-3 lg:grid-rows-2;

  & > * {
    @apply row-span-2 overflow-hidden;
    height: 500px;
    max-height: 800px;

    @screen lg {
      /* inherit height from the child element */
      height: inherit;
    }
  }
}
